body {
  background-color: grey;
}

.App {
  text-align: center;
  width: 1000px;
  margin: auto;
}

.UserAccountButtons {
  text-align: right;
  margin-right: 50px;
}

.SearchBox {
  margin-top: 50px;
  width: 700px;
}

.List {
  text-align: left;
  margin-left: 75px;
}

.Tag {
  font: bold;
}

button {
  width: 100px;
}